@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* weight range --> 200-1000 */
.font-mulish {
	font-family: "Mulish", sans-serif;
	font-optical-sizing: auto;
}

@property --gradientColor {
	syntax: "<color>";
	inherits: false;
	initial-value: white;
}

:root {
	--background: 240 100% 97%;
	--text: 240 36% 16%;
	--primary: 51 88% 55%;
	--secondary: 240 22% 27%;
}

* {
	/* outline: solid; */
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@keyframes slideIn {
	to {
		transform: translate(var(--x, 0), var(--y, 0));
		opacity: 1;
	}
}
